<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   User.plist
   MobileNOCAssessment

   Created by Daian Aiziatov on 28/11/2018.
   Copyright (c) 2018 Daian Aiziatov. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
